* {
    margin: 0;
    padding: 0;
}
.header {
   display: flex;
   flex-direction: row;
 }
.logo {
   margin: 0 0 0 100px;
   padding: 10px 0 0 0;
}
.image {
    width: 60px;
    height: 60px;
}
 .menu> ul {
    display: flex;
    justify-content: center;
    list-style: none;
    color: #113B69;
    gap: 30px;
    margin: 20px 0 0 200px;
    padding: 0;
 }
 .flex {
     display: flex;
     flex-flow: row ;
     gap: 5px;
 }
 .contact {
    list-style: none;
    padding: 0;
 }
 .img {
    width: 5px;
    height: 5px;
    margin: 8px 0 0 0px;
 }
 .main {
     height: 550px;
     width: 100%;
 }
.background {
    background-image: url(images/online.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
} 
.wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 550px;
  }

.title {
    color: #FFFFFF; 
    margin: 0 0 0 100px;
    padding: 20px 0 0 0;
}
h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 90px;
    margin: 0;
}
.text {
    margin: 30px 800px 0 0 ;
}
h6 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 20px;
}
.custom-button {
   margin: 40px 0 0 0;
    
}
.btn  {
    background: #7C378C;
    border-radius: 25px;
    border: 0;
    width: 250px;
    height: 60px;
    color: #FFFFFF ;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 38px;
}
    